#header-nav{
	background-color: #FFCC66;
	border-radius: 0;
}

.navbar-header>.navbar-brand>a{
	text-decoration: none;
}

section>h3{
	font-style: bold;
}

.container .row section{
	background-color: #FF4D4D;
	padding: 15px;
}

div.navbar-brand{
	padding: 0;
	height: 100%;
}

.navbar>.container .navbar-brand{
	margin: 0;
}

div#collapsable-nav{
	background-color: #E9E9E9;
	border: 1px solid #555555;
}

.navbar-default .navbar-toggle{
	border: 1px solid #555555;
}

.navbar-default .navbar-toggle span.icon-bar{
	background-color: #555555;
}

hr{
	margin-top: 0;
	margin-bottom: 0;
	border-top: 1px solid #555555;
}

div.container h1{
	margin-top: 10px;
	margin-bottom: 20px;
}

.columns{
	margin-bottom: 20px;
}

.container section a{
	text-decoration: none;
	color: #FFCC66;
}

@media(min-width: 768px){
	.navbar-default div#collapsable-nav{
		display: none!important;
	}

	.navbar>.container .navbar-brand{
		margin: 0;
	}
}

@media(max-width: 767px){
	.navbar>.container .navbar-brand{
		margin: 15px;
	}
}